name: Run tests on pull requests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

env:
  OPENAI_API_KEY: dummy_key

jobs:
  run-tests:
    runs-on: ubuntu-latest
    name: Run test suite

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Pixi Environment
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: latest
          cache: true
          cache-write: ${{ github.event_name == 'push' }}

      - name: Run tests (pixi)
        run: |
            pixi run test
